In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'F:\Kabir\CSUN\Comp542\preprocessed_csv_team_4.csv')

In [3]:
df.head()

,source,destination,cab_type,product_id,name,price,distance,surge_multiplier,humidity,visibility,icon,windBearing,moonPhase,precipIntensityMax
0,5,7,0,7,7,5.0,0.44,1.0,0.68,10.000,5,57,0.30,0.1276
1,5,7,0,11,2,11.0,0.44,1.0,0.94,4.786,6,90,0.64,0.1300
2,5,7,0,6,5,7.0,0.44,1.0,0.75,10.000,1,240,0.68,0.1064
3,5,7,0,9,4,26.0,0.44,1.0,0.73,10.000,1,310,0.75,0.0000
4,5,7,0,10,6,9.0,0.44,1.0,0.70,10.000,5,303,0.72,0.0001

In [6]:
print(df.count())
df.describe().T

source                632387
destination           632387
cab_type              632387
product_id            632387
name                  632387
price                 632387
distance              632387
surge_multiplier      632387
humidity              632387
visibility            632387
icon                  632387
windBearing           632387
moonPhase             632387
precipIntensityMax    632387
dtype: int64

,count,mean,std,min,25%,50%,75%,max
source,632387.0,5.505940,3.452200,0.000,3.000,6.0000,9.0000,11.0000
destination,632387.0,5.504571,3.453400,0.000,3.000,6.0000,9.0000,11.0000
cab_type,632387.0,0.520363,0.499586,0.000,0.000,1.0000,1.0000,1.0000
product_id,632387.0,5.376262,3.449583,0.000,2.000,5.0000,8.0000,11.0000
name,632387.0,5.557323,3.498973,0.000,2.000,6.0000,9.0000,11.0000
price,632387.0,16.245314,8.769536,2.500,9.000,13.5000,22.5000,42.5000
distance,632387.0,2.172208,1.116478,0.020,1.270,2.1400,2.9000,7.8600
surge_multiplier,632387.0,1.012224,0.083163,1.000,1.000,1.0000,1.0000,3.0000
humidity,632387.0,0.741057,0.138580,0.380,0.640,0.7100,0.8800,0.9600
visibility,632387.0,8.469012,2.601918,0.717,8.432,9.8800,9.9960,10.0000
icon,632387.0,3.468865,1.796714,0.000,2.000,4.0000,5.0000,6.0000
windBearing,632387.0,220.111261,99.083230,2.000,124.000,258.0000,303.0000,356.0000
moonPhase,632387.0,0.579040,0.244699,0.090,0.300,0.6800,0.7900,0.9300
precipIntensityMax,632387.0,0.037364,0.055215,0.000,0.000,0.0004,0.0916,0.1459

In [7]:
# Binning the data into 9 bins of bin size = 5

def binner(bin_df):
    x = 0
    if bin_df <= 5:
        x = 1
    elif bin_df > 5 and bin_df <= 10:
        x = 2
    elif bin_df > 10 and bin_df <= 15:
        x = 3
    elif bin_df > 5 and bin_df <= 20:
        x = 4
    elif bin_df > 5 and bin_df <= 25:
        x = 5
    elif bin_df > 5 and bin_df <= 30:
        x = 6
    elif bin_df > 5 and bin_df <= 35:
        x = 7
    elif bin_df > 5 and bin_df <= 40:
        x = 8
    elif bin_df > 5 and bin_df <= 45:
        x = 9
    return x

df['price_bin'] = df['price'].apply(binner)

In [70]:
x = list(df['price_bin'].value_counts().items())

In [71]:
x

[(2, 171430),
 (3, 145116),
 (4, 106686),
 (6, 82214),
 (5, 50404),
 (7, 35155),
 (1, 25320),
 (8, 12403),
 (9, 3659)]

In [77]:
bin_dict = {}
list1 = []
list2 = []

for entity in x:
    list1.append(entity[0])
    list2.append(entity[1])
    
total_entities = sum(list2)

#Storing ratio in bin dict

for i in range(len(list1)):
    bin_dict[list1[i]] = int(float(list2[i]/total_entities)*5000) #5000 here since total we will work with 5K entries
print(bin_dict)

{2: 1355, 3: 1147, 4: 843, 6: 650, 5: 398, 7: 277, 1: 200, 8: 98, 9: 28}

In [86]:
# Selecting DFs based on the condition that the price_bin matches and we pick up the required number of rows for each
# price bin.

new_df = pd.DataFrame()
new_list = []
for i in list1:
    new_list.append(df[df['price_bin'] == i].head(bin_dict[i]))

new_df = new_df._append(new_list, ignore_index = True)
new_df

,source,destination,cab_type,product_id,name,price,distance,surge_multiplier,humidity,visibility,icon,windBearing,moonPhase,precipIntensityMax,price_bin
0,5,7,0,6,5,7.0,0.44,1.0,0.75,10.000,1,240,0.68,0.1064,2
1,5,7,0,10,6,9.0,0.44,1.0,0.70,10.000,5,303,0.72,0.0001,2
2,0,8,0,6,5,7.0,1.08,1.0,0.63,10.000,2,295,0.72,0.0000,2
3,6,11,1,0,9,7.5,1.11,1.0,0.56,9.959,4,76,0.21,0.0001,2
4,6,11,1,5,11,7.5,1.11,1.0,0.86,4.054,6,57,0.30,0.1252,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4991,4,3,1,2,1,42.5,4.48,1.0,0.69,10.000,1,325,0.75,0.0000,9
4992,8,4,1,2,1,42.5,4.53,1.0,0.68,10.000,5,45,0.27,0.0074,9
4993,2,4,1,2,1,41.5,4.72,1.0,0.69,10.000,4,242,0.89,0.0007,9
4994,2,4,1,2,1,40.5,4.76,1.0,0.51,9.898,4,165,0.24,0.0000,9
4995,4,3,1,2,1,42.0,4.48,1.0,0.69,9.732,2,272,0.33,0.0178,9

In [87]:
new_df.describe().T

,count,mean,std,min,25%,50%,75%,max
source,4996.0,5.541233,3.421902,0.000,3.000,6.0000,8.0000,11.0000
destination,4996.0,5.399920,3.411778,0.000,2.000,5.0000,8.0000,11.0000
cab_type,4996.0,0.502402,0.500044,0.000,0.000,1.0000,1.0000,1.0000
product_id,4996.0,5.481385,3.457254,0.000,2.000,5.0000,8.0000,11.0000
name,4996.0,5.481585,3.455981,0.000,2.000,5.0000,8.0000,11.0000
price,4996.0,16.224079,8.783093,3.000,9.000,13.5000,22.5000,42.5000
distance,4996.0,2.133903,1.088433,0.300,1.250,2.0900,2.8600,7.4600
surge_multiplier,4996.0,1.012010,0.081624,1.000,1.000,1.0000,1.0000,2.5000
humidity,4996.0,0.738094,0.139449,0.380,0.640,0.7100,0.8800,0.9600
visibility,4996.0,8.453669,2.610265,0.717,8.325,9.8820,10.0000,10.0000
icon,4996.0,3.496998,1.790586,0.000,2.000,4.0000,5.0000,6.0000
windBearing,4996.0,219.625300,99.624788,2.000,124.000,258.0000,303.0000,356.0000
moonPhase,4996.0,0.581423,0.244272,0.090,0.300,0.6800,0.7900,0.9300
precipIntensityMax,4996.0,0.037291,0.055349,0.000,0.000,0.0004,0.0916,0.1459
price_bin,4996.0,3.720576,1.774918,1.000,2.000,3.0000,5.0000,9.0000

In [91]:
# Checking if the minimum and maximum values from our original DF are copied or not. 
# If not, we copy them.

min_price = df.price.min()
max_price = df.price.max()
print("Original DF Min Price : {}\nOriginal DF Max Price : {}".format(min_price, max_price))

new_min = new_df.price.min()
new_max = new_df.price.max()

if new_min > min_price:
    #Copy one instance
    new_df = new_df._append(df[df['price'] == min_price].head(1), ignore_index = True)
    
if new_max < max_price:
    #Copy one instance
    new_df = new_df._append(df[df['price'] == max_price].head(1), ignore_index = True)

new_min = new_df.price.min()
new_max = new_df.price.max()
print("New DF Min Price : {}\nNew DF Max Price : {}".format(new_min, new_max))

Original DF Min Price : 2.5
Original DF Max Price : 42.5
New DF Min Price : 2.5
New DF Max Price : 42.5

In [92]:
new_df.describe().T

,count,mean,std,min,25%,50%,75%,max
source,4997.0,5.540524,3.421926,0.000,3.000,6.0000,8.0000,11.0000
destination,4997.0,5.398839,3.412292,0.000,2.000,5.0000,8.0000,11.0000
cab_type,4997.0,0.502301,0.500045,0.000,0.000,1.0000,1.0000,1.0000
product_id,4997.0,5.481689,3.456975,0.000,2.000,5.0000,8.0000,11.0000
name,4997.0,5.481889,3.455702,0.000,2.000,5.0000,8.0000,11.0000
price,4997.0,16.221333,8.784360,2.500,9.000,13.5000,22.5000,42.5000
distance,4997.0,2.133782,1.088358,0.300,1.250,2.0900,2.8600,7.4600
surge_multiplier,4997.0,1.012007,0.081616,1.000,1.000,1.0000,1.0000,2.5000
humidity,4997.0,0.738085,0.139437,0.380,0.640,0.7100,0.8800,0.9600
visibility,4997.0,8.453978,2.610096,0.717,8.325,9.8820,10.0000,10.0000
icon,4997.0,3.496698,1.790532,0.000,2.000,4.0000,5.0000,6.0000
windBearing,4997.0,219.639984,99.620225,2.000,124.000,258.0000,303.0000,356.0000
moonPhase,4997.0,0.581451,0.244255,0.090,0.300,0.6800,0.7900,0.9300
precipIntensityMax,4997.0,0.037283,0.055346,0.000,0.000,0.0004,0.0916,0.1459
price_bin,4997.0,3.720032,1.775158,1.000,2.000,3.0000,5.0000,9.0000

In [94]:
# Deleting the column for Price_bin 
if 'price_bin' in new_df.columns:
    
    new_df = new_df.drop('price_bin', axis = 1) #Axis 0 for rows and 1 for columns.

new_df

,source,destination,cab_type,product_id,name,price,distance,surge_multiplier,humidity,visibility,icon,windBearing,moonPhase,precipIntensityMax
0,5,7,0,6,5,7.0,0.44,1.0,0.75,10.000,1,240,0.68,0.1064
1,5,7,0,10,6,9.0,0.44,1.0,0.70,10.000,5,303,0.72,0.0001
2,0,8,0,6,5,7.0,1.08,1.0,0.63,10.000,2,295,0.72,0.0000
3,6,11,1,0,9,7.5,1.11,1.0,0.56,9.959,4,76,0.21,0.0001
4,6,11,1,5,11,7.5,1.11,1.0,0.86,4.054,6,57,0.30,0.1252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4992,8,4,1,2,1,42.5,4.53,1.0,0.68,10.000,5,45,0.27,0.0074
4993,2,4,1,2,1,41.5,4.72,1.0,0.69,10.000,4,242,0.89,0.0007
4994,2,4,1,2,1,40.5,4.76,1.0,0.51,9.898,4,165,0.24,0.0000
4995,4,3,1,2,1,42.0,4.48,1.0,0.69,9.732,2,272,0.33,0.0178
4996,2,0,0,7,7,2.5,1.53,1.0,0.69,10.000,2,293,0.72,0.0001

In [96]:
#Saving to file.

new_df.to_csv(r'F:\Kabir\CSUN\Comp542\sampled_and_preprocessed_csv_team_4.csv', index = False)